.reviewList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.verticalCard {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.verticalCard > img:nth-child(1) {
    margin-top: 28px;
    width: 205px;
    height: 280px;
}

.verticalCard div {
    text-align: left;
    padding-left: 53px;
}

.verticalCard > div:nth-child(2) {
    color: #9E9E9E;
    font-size: 16px;
    margin-top: 21px;
}

.verticalCard > div:nth-child(3) {
    color: #2C2C2C;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    line-height: 25px;
}

.verticalCard > div:nth-child(3) > img {
    margin-left: 9px;
    width: 18px;
}

.verticalCard> div:nth-child(4){
    color: #2C2C2C;
    font-size: 16px;
    font-weight: 400;
    margin-top: 11px;
    line-height: 150%;
    width: 211px;
}

.verticalCard> div:nth-child(4) > span {
    color: #1C66FF;
}

.displayThreeData {
    display: flex;
    border-bottom: 0.2px solid #2C2C2C;
}